{# 
	CAIDcreative/sleepdentistrymelbourne
	index.twig
#}

{% extends "_layouts/main" %}

{% block main %}
	{% set mainImage = craft.imageHelper.one(entry.mainImage) %}
	<div class="page-header clear-filter d-none d-lg-flex" data-parallax="false" style="background-image: url('{{ mainImage.url }}'); background-position: left center; height: inherit !important; min-height: 80vh; padding-top: 5em; padding-bottom: 5em;">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6 px-0 px-lg-2">
					<div class="card p-3 mt-0 text-center text-lg-left">
						<div class="card-body p-0 p-lg-3">
							<h1 class="text-primary text-uppercase h1-title">Dental Treatment <br>that is literally ... <br>a dream come true!</h1>
							<p class="lead text-grey my-4">If fear of the Dentist or a busy lifestyle is stopping you from achieving the healthy, beautiful smile that you have always wanted, then look no further. Sleep Dentistry is used in all our clinics across Melbourne for speedy quality treatments and to help alleviate fear and anxiety.</p>
							<a href="{{ bookAppointmentUrl }}" class="btn btn-primary btn-round text-uppercase px-5">Book Today!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main main-raised">
		<section class="section section-basic">
			<div class="container">
				<div class="row">
					<div class="col">
						<h2 class="text-primary text-uppercase h1 text-center mb-0" style="letter-spacing:2px;">Welcome to Sleep Dentistry Melbourne</h2>
						<h3 class="text-secondary text-uppercase text-center m-0 p-0 mb-3" style="letter-spacing:2px;">Melbourne's Leading Sedation Clinics</h3>
						<hr>
						<p class="lead  text-center">
							<span class="font-weight-bold">A leading state-of-the art facility that was purpose-built for sleep dentistry </span> and caters to a large array of dental procedures for Adults and Children. <div class="d-none d-sm-block text-center"> The team at Sleep Dentistry Melbourne is dedicated to offering the highest level in patient care, which is part of the reason sedation and anaesthetic treatments for dental procedures are offered at our purpose-built facilities. The range of treatments offered at our clinics may help patients improve and maintain their oral health – or help enhance their smiles.</div>
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-basic">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="container">
							<div class="row bg-primary rounded">
								<div class="bd-highlight col-md-6 col-12 d-flex justify-content-center flex-column align-items-center py-4 p-2">
									<h2 class="text-center text-dark-primary pb-0 m-0 h1">SCHEDULE A CONSULT</h2>
									<h3 class="text-center text-white m-0">CONTACT US TODAY ON <a href="{{ contactInfo.contactMainPhone.RFC3966 }}" class="text-nowrap text-white">{{ contactInfo.contactMainPhone.phone }}</a></h3>
									<p class="text-dark-primary text-center m-0 mb-1">Monday - Saturday 9am - 6pm</p>
									<a href="/contact" class="btn btn-secondary btn-round">Book Appointment</a>
								</div>
								<div class="px-0 px-md-2 bd-highlight col-md-4 col-12 m-0 rounded-bottom">
									{{ craft.imageHelper.filename("happy_patient.jpg", {"class": "w-100", "transform": "x1280x720"}).render }}
								</div>
								<div class="px-2 bd-highlight col-md-2 col-12 d-none d-md-flex justify-content-center align-items-center ">
									{{ craft.imageHelper.filename("logo.png", {"style": "max-width: 100%; max-height: 100px;", "transform": ""}).render }}
								</div>
							</div>
						</div>
					</div>
				</div>
				{% set relatedEntries = entry.relatedEntries.all() %}
				{% include '_includes/related-entries-squares' with {'relatedEntries': relatedEntries, } %}
			</div>
		</section>
				{#
				<div class="row my-3">
					<div class="col-12 col-lg-6">
						<div class="card card-background box-shadow my-2" style="background-image: url('/assets/images/smiling.jpg'); background-repeat: no-repeat; background-size: cover;">
							<div class="card-body">
								<div>
    								<h6 class="special-heading-one text-secondary p-0 m-0">Professional</h6>
    								<span class="special-heading-two p-0 m-0 text-uppercase">TEETH WHITENING</span>
								</div>
								<div class="p-0 m-0">
									<h5 class="special-heading-from mb-2">Starting From<br><span class="special-heading-price">$300</span> </h5>
							 	</div>
								<a href="{{ siteUrl ~ "professional-teeth-whitening" }}" class="btn btn-secondary btn-round">Enquire Now</a>
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-6">
						<div class="card card-background box-shadow my-2" style="background-image: url('/assets/images/crownsandveneers.jpg'); background-repeat: no-repeat; background-size: cover;">
							<div class="card-body">
								<div>
    								<h6 class="special-heading-one text-secondary p-0 m-0">Prorcelain</h6>
    								<span class="special-heading-two p-0 m-0 text-uppercase">Veneers &amp; Crowns</span>
								</div>
								<div class="p-0 m-0">
									<h5 class="special-heading-from mb-2">Starting From<br><span class="special-heading-price">$1950</span> </h5>
							 	</div>
								<a href="{{ siteUrl ~ "porcelain-veneers-crowns" }}" class="btn btn-secondary btn-round">Enquire Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		#}
		<section class="section section-basic">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<article class="mb-5">
							<div class="d-flex justify-content-between align-items-center">
								<h2 class="text-primary text-uppercase my-0">Why Choose Us?</h2>
								<a href="{{ siteUrl ~ "sleep-dentistry/frequent-questions" }}" class="btn btn-secondary btn-round d-none d-inline-block-lg">Read More</a>
							</div>
							<hr class="mt-1"/>
							<p>At our state of the art facilities for sleep dentistry in Melbourne, our experienced specialist anaesthetists use sedation and full general anaesthetic techniques using TIVA techniques (Total Intra-Venous Anaesthesia) that are not only safe, but also reliable. These techniques can be employed to assist patients remain comfortable for a range of dental procedures, and can also be used in paediatric dentistry.</p>
							<br/><div class="d-none d-sm-block">
							<p>The department for sleep dentistry at our Melbourne clinics is run by specialist anaesthetists who administer the anaesthetic and provide specialist medical supervision. Our anaesthetists have extensive experience in various anaesthetic techniques and IV Sedation, assisting in a broad range of adult and paediatric dentistry treatments. Having worked in some of Australia’s largest university hospitals, their additional experience in Intensive Care and airway management underlines the level of expertise and safety that can be expected at the clinic.</p></div>
						</article>
						<article class="mb-5"> 
							<div class="container-full bg-dark rounded box-shadow rounded card font-weight-bold">
								<div class="row no-gutters">
									<div class="col-lg-7 no-gutters">
										<div class="embed-responsive embed-responsive-16by9">
											<iframe class="embed-responsive-item" width="100%" height="450" src="https://player.vimeo.com/video/390663350" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>
									<div class="col-lg-5 no-gutters d-flex justify-content-center align-items-center">
										<div class="p-2">
											<h3 class="text-primary text-uppercase my-0 mt-2 font-weight-bold text-center text-left-lg">Learn more about <span class="text-nowrap">Sleep Dentistry</span></h3>
											{% set ourServices = craft.entries().section('innerPages').level('1').slug('sleep-dentistry').one() %}
											{% if ourServices | length and ourServices.children | length %}
												<ul class="list-group">
													{% for child in ourServices.children.all() %}
														<li class="list-group-item text-primary d-flex" style="flex-flow: row;">
														<i class="material-icons mr-2">play_arrow</i><a href="{{ child.url }}" class="text-white">{{ child.title }}</a>
														</li>
													{% endfor %}
												</ul>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</article>
						<article class="mb-5">
							<div class="d-flex justify-content-between align-items-center">
								<h2 class="text-primary text-uppercase my-0">Frequent Questions</h2>
								<a href="{{ siteUrl ~ "sleep-dentistry/frequent-questions" }}" class="btn btn-secondary btn-round d-none d-inline-block-lg">Read More</a>
							</div>
							<hr class="mt-1"/>
							<h3 class="text-secondary">I haven’t heard of sleep dentistry before. Is it new?</h3>
							<p>No. Sleep Dentistry at our Melbourne clinics involves the use of anaesthetics at a level that still allows patients to be responsive. It is used for a range of medical procedures, including endoscopies, bronchoscopies and colonoscopies.<br><br> The type of medication and levels used depends entirely on the patient and their treatment. Not all clinics offer sleep dentistry in Melbourne as it is rather a specialized service requiring an extensive range of equipment, anaesthetists and trained staff. Our unique, purpose-built facility allows us to provide this service for a wide range of dental procedures.</p><div class="d-none d-sm-block">
							<h3 class="text-secondary">Wouldn’t I only choose sleep dentistry for major procedures?</h3>
							<p>Although we often think of different types of anaesthesia in terms of what treatments they are best suited to, it is perhaps better to think of dental sedation as patient-specific, rather than treatment-specific. IV sedation can be used in combination with other pain and discomfort-reducing medications, depending on the nature of dental procedures being undertaken.<br><br> For patients who are nervous at the prospect of relatively minor treatments, sedation can simply allow you to relax and to not remember the procedure once you’re awake. Needle phobics will be asleep and unaware of the use of any needles throughout their treatment. It can also be used in paediatric dentistry to help calm nervous or  uncooperative children if deemed appropriate.</p></div>
						</article>
					</div>
                    <div class="col-12">
                        <h2 class="text-primary text-uppercase border-bottom">Latest Articles</h2>
                    </div>
                    {% set myEntryQuery = craft.entries().section('news').limit(3) %}
                    {% set newsPosts = myEntryQuery.all() %}
                    {% for newsPost in newsPosts %}
                        <div class="col-md-4 d-flex">
                            <div class="card mb-6 box-shadow">
                                <a href="{{ newsPost.url }}">
                                    {% set mainImage = newsPost.mainImage %}
                                    {{ craft.imageHelper.one(mainImage, {"class": "card-img-top", "transform": "x1280x720"}).render }}
                                </a>
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div class="mb-2">
                                        <a href="{{ newsPost.url }}">
                                        <h3 class="text-primary text-uppercase">{{ newsPost.title }}</h3></a>
                                        <p class="card-text text-black">{{ newsPost.summary }}</p>
                                    </div>
                                    <a href="{{ newsPost.url }}" class="btn btn-sm btn-secondary" style="width: fit-content">Read More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</section>
	</div>
{% endblock %}